body {
    margin: 0;
    padding: 0;
  
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
  }
  
  .share {
    width: 270px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
  
    background-color: #ecf0f1;
  }
  
  .share b {
    margin-right: 15px;
  
    font-weight: normal;
    color: #7f8c8d;
    text-transform: uppercase;
  }
  
  .social {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
  
    background-color: #bdc3c7;
    background-image: url(social.png);
    background-repeat: no-repeat;
    text-decoration: none;
    text-align: center;
  }

  .social-vk {
    background-color: #6d8fb3;
    background-position: 0 0;
    padding-top: 10px;
    color: white;
  }
  
  .social-fb {
    background-color: #526da3;
    background-position: -40px 0;
    padding-top: 10px;
    color: white;
  }
  
  .social-tw {
    background-color: #73bfe6;
    background-position: -80px 0;
    padding-top: 10px;
    color: white;
  }
  .paginator {
    width: 280px;
    margin: 30px auto;
    padding: 10px;
  
    white-space: nowrap;
  
    background-color: #ecf0f1;
  }
  
  .paginator a,
  .paginator span {
    display: inline-block;
    min-width: 20px;
    height: 40px;
    padding: 0 10px;
  
    font-weight: bold;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: white;
    text-decoration: none;
  
    background-color: #95a5a6;
  }
  
  .paginator .prev {
    margin-right: 20px;
  }
  
  .paginator .next {
    margin-left: 20px;
  }
  
  .paginator .current {
    background-color: #16a085;
    
  }
  
  .paginator .disabled {
    opacity: 0.3;
  }
  
  .paginator a:hover {
    background-color: #2ecc71;
  }
  .hor_menu{
    width: 600px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 10px;
    padding-left: 20px;
  }
.hor_menu li{
    display: inline;
}
.ver_menu{
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    padding-left: 20px;
}
.mnogour_menu{
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    padding-left: 20px;
}
.mnogour_menu h2{
  margin-left: 10px;
}
.mnogour_menu h3{
  margin-left: 20px;
}
.mnogour_menu h4{
  margin-left: 30px;
}

.drop_menu{
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  padding-left: 20px;
}
.drop_menu div ul{
  display: none;
}
.drop_menu div:hover ul{
  display: block;
}
.comment{
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  padding-left: 20px;
}